.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.free-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wheel {
    z-index: 1;
}